<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="Description" content="Feedback for reporting a message">
        <meta name="Author" content="Kazik Sobotnicki">
        <link rel="icon" type="image/x-icon" href="../static/chatbot-icon.png">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <!-- Imports different CSS stylesheet depending on Jinja variable -->
        <link rel="stylesheet" href={{stylesheet}}>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <title>Thanks for reporting</title>
    </head>
    <body>
        <div id="grid-container">
            <div id="sidebar">
                <form action="/home" id="chatbot-form" method="post">
                    <button type="submit" id="chatbot-select">
                        <img src="../static/chatbot-icon.png" id="chatbot-icon">
                        <p id="chatbot-name">
                            Chatbot
                        </p>
                    </button>
                </form>
            </div>
            <div id="header">
                <form action="/search" method="post" autocomplete="off" id="search-form">
                    <input type="text" id="search-bar" name="search-bar" placeholder="Search messages here..." list="messages-list">
                    <!-- Adds datalist, with elements from Jinja variable -->
                    <datalist id="messages-list">
                        {% for message in messages_list %}
                            <option value="{{ message }}">
                        {% endfor %}
                    </datalist>
                </form>
            </div>
            <div id="main-result">
                <div id="back">
                    <form action="/back" id="back-form" method="post">
                        <button type="submit" id="back-button">
                            Return conversation
                        </button>
                    </form>
                </div>
                <div id="report-container">
                    <div id="report-icon"></div>
                    <p id="report-message">
                        Thank you for reporting the message '{{ message }}'
                    </p>
                </div>
            </div>
            <div id="settings">
                <form action="/theme" id="colour-mode-form" method="post">
                    <button type="submit" id="colour-mode-button">
                    </button>
                </form>
            </div>
        </div>
    </body>
</html>